body{
    background-color: yellow;
    font-family:Arial,sans-serif;
    margin:40px;
}

h1{
    color:#0056b3;
    text-align:center;
}

h2{
    color:orangered;
}

p{
    font-size:18px;
}

li{
    font-size:18px;
}
